<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Javascript</title>
</head>
<body>
<h1>Javascript</h1>
<ul>
    <li>01 - JS 선택자 [<a href="/js/hello">이동</a>] </li>
    <li>02 - 변수와 자료형 [<a href="/js/type">이동</a>] </li>
<!--    <li>03 - JS 텍스트 [<a href="/js/text">이동</a>] </li>-->
<!--    <li>04 - JS 박스 [<a href="/js/box">이동</a>] </li>-->
<!--    <li>05 - JS 리스트 [<a href="/js/list">이동</a>] </li>-->
<!--    <li>06 - JS 포지션 [<a href="/js/position">이동< /a>] </li>-->
<!--    <li>07 - JS 백그라운드 [<a href="/js/background">이동</a>] </li>-->
<!--    <li>08 - JS 테이블 [<a href="/js/table">이동</a>] </li>-->
<!--    <li>09 - JS 레이아웃 : float[<a href="/js/float">이동</a>] </li>-->
<!--    <li>10 - JS 레이아웃 : flex[<a href="/js/flex">이동</a>] </li>-->
<!--    <li>11 - 마크다운 : flex[<a href="/js/markdown">이동</a>] </li>-->
<!--    <li>12 - 부트스트랩 : flex[<a href="/js/bootstrap">이동</a>] </li>-->
</ul>
</body>
</html>