<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>HTML5 레이아웃</title>
</head>
<body>
    <h1>HTML5 레이아웃</h1>
    <h2>정의</h2>
    <p>웹 페이지의 구조와 내용을 정의하는 마크업 언어를 의미</p>
    <p>웹 브라우저에 의해 해석되고 사용자에게 표시될 문서의 구조를 정의</p>
    <p>하이퍼 텍스트를 이용해서 웹 페이지 간의 이동을 가능하게 하는 링크도 생성 가능</p>
    <h2>요소 및 태그, 속성</h2>
    <p>태그 : HTML 문서에서 사용하는 마크업 구문을 의미</p>
    <p>꺽쇠 괄호에 둘러싸여 있음 - <> </p>
    <p>시작 태그와 종료 태그로 구성되어있음</p>
    <p>요소 : 시작태그, 내용, 종료태그 모두를 포함한 전체 구조를 의미</p>
    <p>html문서의 구조적 단위를 지칭</p>
    <p>속성 : 해당 태그에 추가 정보를 제공하거나 동작을 한정하는데 사용</p>
    <p>사용예 : 태그의 이름 부여, 링크의 참조 위치 지정, 이미지에 보조 설명 선언 etc</p>
    <h2>주석</h2>
    <!-- 이것은 주석입니다 -->
    <p>태그나 요소에 대한 설명으로 작성하는 코드</p>
    <p>브라우저에 의해 시각적으로 나타나지는 않음</p>
    <h2>html 문서 구조</h2>
    <p>doctype</p>
    <p>- 문서 유형을 선언하는 것으로,  HTML 문서의 첫 번째 줄에 위치</p>
    <p>- 브라우저에 HTML5 문서임을 알리고, HTML5 표준에 따라 문서를 해석</p>
    <p>html</p>
    <p>- 문서의 루트 요소로, 모든 HTML 요소를 포함</p>
    <p>- HTML 문서의 시작과 끝을 표시</p>
    <p>head</p>
    <p>- 문서의 메타데이터를 포함하는 부분</p>
    <p>- 문서의 제목, 스타일, 메타데이터, 스크립트, 링크 등을 정의</p>
    <p>meta</p>
    <p>- 문서의 메타데이터를 정의하는 요소</p>
    <p>- 문서의 문자 인코딩, 뷰포트 설정, 검색 엔진에 대한 정보 등을 제공하는데 사용</p>
    <p>- `charset`: 문서의 문자 인코딩을 지정합니다.</p>
    <p>- `name`과 `content`: 특정 메타데이터를 정의합니다.</p>
    <p>- `http-equiv`: HTTP 헤더와 동일한 메타데이터를 설정합니다.</p>
    <p>title</p>
    <p>- 문서의 제목을 정의하는 요소</p>
    <p>- 브라우저 탭에 표시되는 제목을 설정</p>
    <p>- 검색 엔진 결과에 표시되는 제목이기도 함</p>
    <p>body</p>
    <p>- 문서의 본문 내용을 포함하는 요소</p>
    <p>- 제 웹 페이지에 표시되는 모든 콘텐츠(텍스트, 이미지, 비디오, 링크 등)를 포함</p>
</body>
</html>
