<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>텍스트 관련 태그</title>
</head>
<body>
    <h1>텍스트 관련 태그</h1>
    <h2>제목header 관련 태그</h2>
    <p>문서 내용에 따라 적절한 제목을 지정하는것은 중요</p>
    <p>제목은 h1(큰제목) ~ h6(작은제목) 태그를 이용</p>
    <p>검색엔진 최적화SE0에 중요한 요소로 작용하는 태그</p>
    <hr>
    <h1>큰제목(h1)</h1>
    <h2>큰제목(h2)</h2>
    <h3>중간제목(h3)</h3>
    <h4>중간제목(h4)</h4>
    <h5>작은제목(h5)</h5>
    <h6>작은제목(h6)</h6>
    <hr>
    <h2>문단</h2>
    <p>문단paragraph을 정의할 때 사용</p>
    <p>문단이 정의되면 문잔 위 아래 약간의 여백margin이 추가됨</p>
    <p>문단 내 텍스트에 적용된 공백이나 줄바꿈은 모두 무시되고 한줄로 출력됨</p>
    <hr>
    <p>오픈에이아이(OpenAI)가 생성형 인공지능 서비스 ‘챗지피티’를 접목한 자체 검색 엔진 ‘서치지피티(SearchGPT)’ 시험 버전을 내놓으면서 전 세계 검색 시장을 장악한 구글에 도전장을 던졌다.

        25일(현지시각) 오픈에이아이는 블로그를 통해 “생성형 인공지능 기반의 검색 엔진 ‘서치지피티’ 시험 버전을 일부 이용자를 대상으로 테스트한다”고 밝혔다. 이날 공개된 서치지피티 시연 영상을 보면, 서치지피티는 사용자의 질문에 대한 검색 결과를 출처 링크와 함께 제공한다. 또한 해당 결과에 대한 후속 질문을 이어나갈 수도 있다. 오픈에이아이는 “서치 지피티는 빠르고 시의적절하게, 또한 명확하고 관련 출처를 가진 답변 제공을 목표로 한다”며 “이용자들이 보다 자연스럽고 직관적인 방식으로 검색하고 사람과의 대화에서처럼 후속 질문을 할 수 있다”고 설명했다.

        강력한 생성형 인공지능 기술을 검색 엔진에 탑재한 오픈에이아이의 서치지피티가 전 세계 검색 엔진을 장악하고 있는 구글의 ‘대항마’가 될 수 있을지 주목된다. 지난 5월 구글은 자사의 생성형 인공지능 ‘제미나이’를 탑재한 검색 엔진을 출시한 바 있다. 현재 전 세계 검색 시장의 90% 가까이 장악하고 있는 구글은 생성형 인공지능 등장 이후 점유율이 소폭 하락세를 보이고 있다.

        샘 올트먼 오픈에이아이 최고경영자(CEO)는 이날 자신의 엑스(X·옛 트위터) 계정에 “우리는 현재보다 훨씬 더 나은 검색을 만들 여지가 있다고 생각한다”고 밝혔다. 오픈에이아이가 서치 지피티를 발표하자 이날 구글 모회사 알파벳 주가는 뉴욕 증시에서 3% 하락했다. 마이크로소프트 주가도 2.45% 내렸다.

        오픈에이아이는 향후 서치 지피티를 챗지피티에 통합할 계획이라고도 밝혔다. 오픈에이아이는 “웹에서 답변을 얻으려면 많은 노력이 필요하고 관련성 있는 결과를 얻기 위해 여러 번 시도해야 하는 경우가 많다”며 “웹의 실시간 정보로 대화 기능을 향상하면 원하는 정보를 더 빠르고 쉽게 찾을 수 있다”고 설명했다.

        한편, 이날 오픈에이아이는 “이용자들이 다양한 뉴스·출판 콘텐츠 사이트를 찾을 수 있도록 돕겠다”고도 밝혔다. 지난 5월 오픈에이아이(OpenAI)는 월스트리트저널(WSJ)을 소유한 뉴스코프(News Corp)와 2억5000만달러(한화 3417억원) 가치의 콘텐츠 협약을 체결한 바 있다. 오픈에이아이는 “서치지피티에 검색 결과로 나온다고 해서 오픈에이아이의 생성형 인공지능 모델 훈련에 사용되는 것은 아니다”라고 했다.</p>
    <p>
        public static void main(String[] args) {
        System.out.println("Hello, World");
    </p>
    <hr>

    <h2>줄바꿈 line-break</h2>
    <p>html에서는 텍스트에 작성된 줄바꿈은 무시된다고 했음</p>
    <p>만약 의도적으로 줄바꿈을 적용하고 싶다면 br태그를 사용해야 함</p>
    <p>단, br태그는 종료태그가 없음</p>
    <p>
        public static void main(String[] args) {<br>
        System.out.println("Hello, World");<br>
    </p>

    <h2>수평선 horizental</h2>
    <p>컨텐츠의 내용이 바뀔 때 내용 환기를 위해 사용하는 구분선을 정의</p>

    <h2>엔티티 참조</h2>
    <p>html에는 특수한 용도를 위해 미리 예약된 문자들이 있음</p>
    <p>이러한 문자들을 일반 텍스트처럼 사용하면 브라우저는 이것을 다르게 해석 할 수도 있음</p>
    <p>따라서, html 예약어를 기존에 사용하던 의미대로 사용하려면 별도로 만들어둔 문자셋entity을 이용해야 함</p>
    <p>문자셋은 &amp;와 &semi; 사이에 문자셋 이름 또는 문자셋 번호를 이용해서 나타낼 수 있음</p>
    <hr>
    <p>10 &gt; 9 &sol; 100 &lt; 5</p>
    <p>&copy; &reg; </p>
    <p>1 &nbsp;2 3 </p>

    <h2>웹페이지 레이아웃용 텍스트 생성기</h2>
    <p>로렘lorem 입슘ipsum은 출판이나 디자인 크래픽 분야에서 주로 사용하는 더미(의미없는) 텍스트</p>
    <p>디자인을 위해 자리 표시 역할을 담당하는 텍스트들를 의미/p>
    <p>lipsum.com &sol; hanipsum.com</p>

    <h2>텍스트 꾸밈 태그</h2>
    <p>문단내 텍스트들을 다르게 표시해서 간조, 환기 효과를 얻기 위해 사용</p>
    <p>텍스트를 단순히 진하게 표시 - bold 태그 사용</p>
    <p>텍스트를 강조의 의미로 진하게 표시 - strong 태그 사용</p>
    <p>텍스트를 단순히 기울여서 표시 - italic 태그 사용</p>
    <p>텍스트를 강조의 의미로 기울여서 표시 - emphasize 태그 사용</p>
    <p></p>
    <p></p>
    <hr>
    <p>시간은 <b>금이라구</b>, 친구</p>
    <p>시간은 <strong>금이라구</strong>, 친구</p>
    <p>시간은 <i>금이라구</i>, 친구</p>
    <p>시간은 <em>금이라구</em>, 친구</p>
    <hr>
    <p>수식이나 기호에 위첨자를 나타내려면 superscript 태그 사용</p>
    <p>수식이나 기호에 아래첨자를 나타내려면 suberscript 태그 사용</p>
    <p>논문에서 사용하는 기호를 나타내려면 latex를 이용해야 함</p>
    <p>피타고라스 정리 : a<sup>2</sup> = b<sup>2</sup> + c<sup>2</sup></p>
    <p>특수 상대성 이론 : E = mc<sup>2</sup></p>
    <p>물 : H<sub>2</sub>O, 이산화탄소 : CO<sub>2</sub></p>
    <hr>
    <p>ins 태그</p>
    <p>del 태그</p>
    <p>mark 태그</p>
    <p><ins>a<sup>2</sup> = b<sup>2</sup> + c<sup>2</sup></ins>는 수학 역사상 가장 중요한 식 중 하나로 여겨지고 있다</p>
    <p>이 벽화가 그려진 시기는 <del>청동기</del> 신석기이다.</p>
    <p><mark>시간은 금이라구, 친구</mark></p>

    <hr>
    <p>kbd 태그</p>
    <p>pre 태그</p>
    <p>윈도우를 종료하려면 <kbd>Alt+F4</kbd>를 누르면 됩니다</p>
    <pre>
    public static void main(String[] args) {
    System.out.println("Hello, World");
    </pre>
    <h2>인용</h2>
    <p>짧은 인용은 q태그를, 긴 인용은 blockqoute 태그를 사용</p>
    <p>
        고블린이 한숨을 쉬며 말했다.
        <q>시간은 금이라구, 친구</q>
    </p>
    <p>
        고블린이 한숨을 쉬며 말했다.
        <blockqoute>시간은 금이라구, 친구</blockqoute>
    </p>
</body>
</html>