<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>CSS</title>
</head>
<body>
<h1>CSS</h1>
<ul>
    <li>01 - CSS 선택자 [<a href="/css/selector">이동</a>] </li>
    <li>02 - CSS 리셋 [<a href="/css/reset">이동</a>] </li>
    <li>03 - CSS 텍스트 [<a href="/css/text">이동</a>] </li>
    <!--<li>04 - 목록 [<a href="/css/list">이동</a>] </li>
    <li>05 - 테이블 [<a href="/css/table">이동</a>] </li>
    <li>06 - 이미지 [<a href="/css/image">이동</a>] </li>
    <li>07 - 폼 [<a href="/css/form">이동</a>] </li>
    <li>08 - 회원가입 [<a href="/css/joinfrm">이동</a>] </li>
    <li>09 - 시맨틱[<a href="/css/semantic">이동</a>] </li>
    <li>10 - 프로젝트1[<a href="/css/project1">이동</a>] </li>
    <li>11 - 프로젝트2[<a href="/css/project2">이동</a>] </li>-->
</ul>
</body>
</html>